@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Ubuntu', sans-serif;
}


.ss-value-delete {
  width: 22px !important;
}

.ss-value-text {
  font-size: 18px !important;
}

.profile_pic {
  height: 40px;
  width: 40px;
}

.display_pic {
  height: 200px;
  width: 200px;
}

.text-decoration-none   {
  text-decoration: none !important;
}
