<h2>Welcome to Home Page</h2>
<%= link_to 'Articles', articles_path %> <br>
<%= link_to 'Posts', posts_path %> <br>
<%= link_to 'Companies', companies_path %> <br>
<%= link_to 'Employees', employees_path %> <br>
